.input-field .prefix ~ .autocomplete-content {
  margin-left: 3rem;
  width: 92%;
  width: calc(100% - 3rem);
}
/* Autocomplete */
.autocomplete-content {
  margin-top: -15px;
  display: block;
  opacity: 1;
  position: absolute;
  width: 98%;
}

.autocomplete-content li .highlight {
  color: #444;
}

.autocomplete-content li img {
  height: 40px;
  width: 40px;
  margin: 5px 15px;
}

.caret {
  float: right;
  font-size: 12px;
  margin-bottom: -25px;
}